#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    // ==================== MACROS ====================
    macros {
        // M0: Ctrl+GUI+Left (desktop switch left)
        desktop_left: desktop_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(LEFT))>;
        };

        // M1: Ctrl+GUI+Right (desktop switch right)
        desktop_right: desktop_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(RIGHT))>;
        };
    };

    // ==================== BEHAVIORS ====================
    behaviors {
        // Hold-tap: tap=PgUp, hold=Home
        ht_pgup: ht_pgup {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // Hold-tap: tap=PgDn, hold=End
        ht_pgdn: ht_pgdn {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // Hold-tap: tap=Left, hold=Home
        ht_left: ht_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // Hold-tap: tap=Right, hold=End
        ht_right: ht_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    // ==================== COMBOS ====================
    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 16 30>;
        };

        // J+K = Enter
        combo_jk_enter {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp ENTER>;
        };

        // D+F = Enter
        combo_df_enter {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp ENTER>;
        };

        // Q+W = Escape
        combo_qw_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        // S+D = MO(1)
        combo_sd_layer1 {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&mo 1>;
        };

        // X+C = One-shot GUI
        combo_xc_gui {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&sk LGUI>;
        };
    };

    // ==================== KEYMAP ====================
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // ` Q W E R T  [joy]  Y U I O P \
            // Tab/L2 A S D F G  [joy]  H J K L ; '
            // OSM(Alt) Z X C V B  [joy]  N M , . / MO(1)
            //          Shift Ctrl Space    Bksp MO(2) RAlt
            bindings = <
&kp GRAVE   &kp Q  &kp W  &kp E      &kp R      &kp T                                  &kp UP                &kp Y     &kp U  &kp I      &kp O    &kp P     &kp BSLH
&lt 2 TAB   &kp A  &kp S  &kp D      &kp F      &kp G                        &kp LEFT  &kp ENTER  &kp RIGHT  &kp H     &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&sk LALT    &kp Z  &kp X  &kp C      &kp V      &kp B        &kp SPACE                 &kp DOWN              &kp N     &kp M  &kp COMMA  &kp DOT  &kp FSLH  &mo 1
                          &kp LSHFT  &kp LCTRL  &kp SPACE                                                    &kp BSPC  &mo 2  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "NUMBER";
            // ESC _ _ _ Bksp Del  [joy]  7 8 9 _ - =
            // Caps _ _ _ ( )  [joy]  4 5 6 * KP- KP+
            // _ _ _ _ [ ]  [joy]  1 2 3 KP. KP/ KP*
            //          _ _ _    _ 0 KP.
            bindings = <
&kp ESC   &trans  &trans  &trans  &kp BSPC  &kp DEL                                        &mmv MOVE_UP                     &kp N7  &kp N8  &kp N9      &none            &kp MINUS     &kp EQUAL
&kp CAPS  &trans  &trans  &trans  &kp LPAR  &kp RPAR                       &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp N4  &kp N5  &kp N6      &kp KP_ASTERISK  &kp KP_MINUS  &kp KP_PLUS
&trans    &trans  &trans  &trans  &kp LBKT  &kp RBKT       &kp C_MUTE                      &mmv MOVE_DOWN                   &kp N1  &kp N2  &kp N3      &kp KP_DOT       &kp KP_SLASH  &kp KP_ASTERISK
                          &trans  &trans    &trans                                                                          &trans  &kp N0  &kp KP_DOT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "NAV/FN";
            // _ _ M0 Up M1 PgUp/Hm  [joy]  _ _ Up _ _ _
            // _ _ Left/Hm Down Right/End PgDn/End  [joy]  _ Left/Hm Down Right/End _ _
            // _ F1 F2 F3 F4 F5  [joy]  F7 F8 F9 F10 F11 F12
            //          _ _ _    _ _ _
            bindings = <
&trans  &trans  &desktop_left       &kp UP    &desktop_right       &ht_pgup HOME PG_UP                            &mmv MOVE_UP                     &trans  &trans                  &kp UP    &trans                   &trans   &trans
&trans  &trans  &ht_left HOME LEFT  &kp DOWN  &ht_right END RIGHT  &ht_pgdn END PG_DN             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &ht_left HOME LEFT      &kp DOWN  &ht_right END RIGHT      &trans   &trans
&trans  &kp F1  &kp F2              &kp F3    &kp F4               &kp F5              &trans                     &mmv MOVE_DOWN                   &kp F7  &kp F8                  &kp F9    &kp F10                  &kp F11  &kp F12
                                    &trans    &trans               &trans                                                                          &trans  &trans                  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                   &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
